header, section, footer, aside, nav, article, figure, figcaption {
  display: block;
}

body {
  color: #330022;
  background-color: #f9f8f3;
  background-image: url(blog/imgs/lead.jpg);
  font-family: Georgia, Times, serif;
  line-height: 1.5em;
  margin: 10px;
}

.wrapper {
  width: 960px;
  margin: 20px;
  border: 1px dotted #F2c422;
  padding: 20px;
  background: rgba(254,232,235,0.4);
  overflow: auto;
  clear: both;
}

header {
  height: 200px;
  background-color: #220047;
  background-image: -moz-linear-gradient(#BBBDBC, #220047);
  background-image: -webkit-gradient(linear, 0%, 0%, 0%, 100%, from(#220047), to(#BBBDBC));
  background-image: -webkit-linear-gradient(#BBBDBC, #220047);
  padding-top: 20px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

header h2 {
  padding-left: 10px;
  text-shadow: -1px -1px 1px #EEEBF0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
  width: 600px;
  height: 120px;
  margin: 0px;
  padding-left: 10px;
  text-shadow: -2px -2px 2px #BBBDBC;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}


nav, footer {
  clear: both;
  color: #ffffff;
  background-color: #220047;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}

nav li {
  display: inline;
  margin-right: 40px;
}

nav li a {
  color: #bbbbcc;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
  color: #F3F3F3;
}
/*
nav li a:visited {
  text-decoration: none;
  color: #bbbbcc;
}
*/

nav li a:current {
  color: #bbbbcc;
}

section.left {
  float: left;
  width: 480px;
}

article {
  clear: both;
  width: 100%;
}

aside {
  width: 480px;
  float: left;
}

.timeline {
  float: right;
}

figure {
  float: left;
  width: 150px;
}

figcaption {
  font-size: 90%;
  text-align: left;
}

h3 {
  margin-top: 20px;
}

footer {
  color: #bbbbcc;
  margin: auto, 0px;
}