<h4>Make a witty comment:</h4>
<form id="comment">
  <div>
    <label for="message">Message</label>
    <textarea placeholder="Come at me!" id="message"></textarea>
  </div>
  <div>
    <label for="name">Name</label>
    <input placeholder="Who are you?" type="text" id="name">
  </div>
  <div>
    <label for="email">Email</label>
    <input placeholder="Pen pal opportunity!" type="text" id="email">
  </div>
  <small>Your email will not be shared.</small>
  <div class="submit-comment">
    <input type="submit" value="Submit">
  </div>
</form>
