html { font-family: Merriweather, "PT Serif", Georgia, "Times New Roman", serif; text-size-adjust: 100%; font-size: 20px; line-height: 1.5; }
html, body { margin: 0px; padding: 0px; overflow-x: hidden; height: 100%; position: relative; }
body { margin: 0px; color: rgb(81, 81, 81); background-color: rgb(255, 255, 255); overflow-y: scroll; text-size-adjust: 100%; }
button, input, optgroup, select, textarea { color: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; margin: 0px; }
input { line-height: normal; }
.sidebar-checkbox { position: absolute; opacity: 0; user-select: none; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0px; }
.sidebar { position: fixed; top: 0px; bottom: 0px; left: -14rem; width: 14rem; visibility: hidden; overflow-y: auto; font-family: "Open Sans", "PT Sans", Arial, sans-serif; font-size: 0.75rem; color: rgba(255, 255, 255, 0.6); background-color: rgb(32, 32, 32); transition: all 0.3s ease-in-out; }
.wrap, .sidebar, .sidebar-toggle { backface-visibility: hidden; }
.custom_theme .sidebar, .custom_theme .sidebar-toggle:active, .custom_theme #sidebar-checkbox:checked ~ .sidebar-toggle { background: rgb(4, 3, 15); }
h1 { font-size: 2rem; margin: 0.67em 0px; }
h1, h2, h3, h4, h5, h6 { margin-bottom: 0.5rem; font-weight: 400; line-height: 1.25; color: rgb(49, 49, 49); text-rendering: optimizeLegibility; font-family: "Open Sans", "PT Sans", Arial, sans-serif; letter-spacing: -0.025rem; }
.visuallyhidden { height: 1px; width: 1px; overflow: hidden; clip: rect(1px 1px 1px 1px); position: absolute !important; }
.sidebar-item { padding: 1rem; }
p { margin-top: 0px; margin-bottom: 1rem; }
.sidebar-item p:last-child { margin-bottom: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
.sidebar-nav { border-bottom: 1px solid rgba(255, 255, 255, 0.0980392); }
h2 { margin-top: 1rem; font-size: 1.5rem; }
a { background-color: transparent; color: rgb(38, 139, 210); text-decoration: none; }
.sidebar-nav-item { display: block; padding: 0.5rem 1rem; border-top: 1px solid rgba(255, 255, 255, 0.0980392); }
.sidebar a { font-weight: normal; color: rgb(255, 255, 255); }
.wrap { position: relative; width: 100%; }
.wrap, .sidebar-toggle { transition: transform 0.3s ease-in-out; }
.masthead { padding-top: 1rem; padding-bottom: 1rem; margin-bottom: 3rem; border-bottom: 1px solid rgb(238, 238, 238); }
.container { max-width: 32rem; padding-left: 1rem; padding-right: 1rem; margin-left: auto; margin-right: auto; }
h3 { margin-top: 1.5rem; font-size: 1.25rem; }
.masthead-title { margin-top: 0px; margin-bottom: 0px; color: rgb(80, 80, 80); text-align: center; }
.masthead-title a { color: rgb(80, 80, 80); }
.custom_theme .container a, .custom_theme .sidebar-toggle, .custom_theme .related-posts li a:hover, .custom_theme footer a { color: rgb(52, 127, 196); }
small { font-size: 80%; }
.masthead-title small { font-size: 75%; font-weight: 400; color: rgb(192, 192, 192); letter-spacing: 0px; display: none; }
.page, .post { margin-bottom: 4em; }
.page-title, .post-title, .post-title a { color: rgb(48, 48, 48); }
.page-title, .post-title { margin-top: 0px; }
.post-date { display: block; margin-top: -0.5rem; margin-bottom: 1rem; color: rgb(154, 154, 154); }
.sidebar-toggle { position: fixed; top: 0.8rem; left: 1rem; display: block; padding: 0.25rem 0.75rem; color: rgb(80, 80, 80); background-color: rgb(255, 255, 255); border-radius: 0.25rem; cursor: pointer; }
