.custom_theme .sidebar {
    /* Permalink: http://colorzilla.com/gradient-editor/#0d7cd1+81,cee1ec+100 */
    background: #0d7cd1; /* Old browsers */
    background: -moz-linear-gradient(top, #0d7cd1 81%, #cee1ec 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0d7cd1 81%,#cee1ec 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0d7cd1 81%,#cee1ec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d7cd1', endColorstr='#cee1ec',GradientType=0 ); /* IE6-9 */
}
