.custom_theme .sidebar {
  /* "Progressive enhancement" gradient.
     Permalink: http://colorzilla.com/gradient-editor/#004672+70,d0e5ed+99 */
  background: #004672; /* Old browsers */
  background: -moz-linear-gradient(top, #004672 70%, #d0e5ed 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #004672 70%,#d0e5ed 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #004672 70%,#d0e5ed 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004672', endColorstr='#d0e5ed',GradientType=0 ); /* IE6-9 */
}


