* {
  background-color: #E3DBFF;
}

h1 {
  font-family: Impact, serif;
  font-size: 1.7em;
  color: black;
  font-style: uppercase;
}

p {
  font-family: Helvetica, Georgia, sans-serif;
  background-color: blue;
  color: black;
  font-size: 1.3em;
  padding: 20px;
}

a {
  text-decoration: none;
  color: green;
  background-color: purple;
  font-size: 1.5em;
}

.footer {
  margin: 0px auto 0px auto;
  width: 200px;
  background-color:  green;
}

p.foot {
  background-color:  383542;
  margin: 10px auto 10px auto;
  text-align: center;
}