<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
  		{% if page.title == "Home" %}{% include header.html %}{% endif %}
      <section id="about">
      	{% if page.title == "Home" %}
      		{% include about.html %}
      	{% else %}
      	<div class="masthead">
      	  <!-- <div class="container"> -->
      	    <h3 class="masthead-title">
      	      <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
      	      <small>{{ site.tagline }}</small>
      	    </h3>
      	  <!-- </div> -->
      	</div>
      	{% endif %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
</html>
