<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <meta name="keywords" content="HTML, CSS, Ruby, JavaScript, Ruby on Rails,Object-Oriented,code,web design,coding,app,web app,mobile,development">
  <meta name="description" content="Developer portfolio, blog, and contact page">
  <meta name="author" content="Nicholas Christiny" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://feeds.feedburner.com/nchristiny" rel="alternate" title="Code or Die" type="application/atom+xml" />
  <link rel='shortcut icon' href="blog/imgs/favicon.ico" type='image/x-icon'>
  <link rel="author" type="text/plain" href="humans.txt">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!-- Js here -->
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
  <div class="container">

    {{ content }}

  </div>
  <footer>
    <ul>
      <li><a href="mailto:nchristiny@gmail.com">email</a></li>
      <li><a href="https://github.com/nchristiny">github</a></li>
      <li><a href="http://feeds.feedburner.com/nchristiny"><img src="/images/rss.png" alt="Subscribe to RSS Feed" /></a></li>
    </ul>
  </footer>
</body>
</html>
